@import url("//use.fontawesome.com/releases/v5.8.1/css/all.css");
:root{
  --main-color: #18453b;
  --secondary-color: #fff;
}

body{
  font-family:'Arial', Helvetica, sans-serif;
  /*font-family: Georgia, serif;*/
}

footer{
    padding-right: 0;
    padding-left: 0;
    margin: 0;
}

.navbar-style{
  background-image: -webkit-linear-gradient(top, #009933 0%, #005937 100%);
  background-image: -o-linear-gradient(top, #009933 0%, #005937 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#009933), to(#005937));
  background-image: linear-gradient(to bottom, #009933 0%, #005937 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #3e8f3e;
  color: #ffffff;
}

.white-text{
  color: #ffffff !important;
}

.custom-nav-links > li > a:hover,
.custom-nav-links > li > a:focus{
  color: #009933 !important;
  background-color: #ffffff !important;
}

.custom-nav-links > .active > a{
  color: #009933 !important;
}

.homepage-banner{
  background: url("../images/IMG_1425.jpg") no-repeat fixed center center;
  background-size: cover;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-banner-title{
  color: #FFFFFF;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font: italic 5em 'Oleo Script', Helvetica, sans-serif;
  background-image:linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
  width: 100%;
}

.homepage-banner-text{
  font-size: 1.8em;
  color: #FFFFFF;
}

.vertical-padding{
  padding: 25px 0;
}

.plain-text-family{
  font-family: Georgia, serif;
}

.signup-title{
  font-weight: bold;
  color: #005937;
  font-size: 3em;
}

.tooltip.custom-tooltip{
    opacity: 1.0;
}

.tooltip.custom-tooltip .tooltip-inner {
    color: #FFFFFF;
    background-color: #18453b;
}

.tooltip.custom-tooltip .tooltip-arrow{
    border-bottom-color: #18453b;
}

.input-form-warning{
  color: red;
}

/*#18453b*/
.btn-aff{
  color: #fff;
  background-color: #18453b;
  border-color: #18453b;
}

.btn-aff:hover {
  color: #fff;
  background-color: #216358;
  border-color: #318773;
}

.btn-aff:focus, .btn-aff.focus {
  box-shadow: 0 0 0 0rem rgba(40, 167, 69, 0.5);
}

.btn-aff.disabled, .btn-aff:disabled {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-aff:not(:disabled):not(.disabled):active, .btn-aff:not(:disabled):not(.disabled).active,
.show > .btn-aff.dropdown-toggle {
  color: #fff;
  background-color: #216358;
  border-color: #318773;
}

.btn-aff:not(:disabled):not(.disabled):active:focus, .btn-aff:not(:disabled):not(.disabled).active:focus,
.show > .btn-aff.dropdown-toggle:focus {
  box-shadow: 0 0 0 0rem rgba(40, 167, 69, 0.5);
}

.btn-neg-alt{
  background: linear-gradient(135deg,  #fff 0%, #999 100%);
  color: #18453b;
  border-color: #888;
}

.btn-neg-alt:hover {
  background: linear-gradient(135deg, #fff 0%, #ccc 100%);
  color: #18453b;
  border-color: #bbb;
}

.btn-neg-alt:focus, .btn-neg-alt.focus {
  box-shadow: 0 0 0 0rem rgba(40, 167, 69, 0.5);
}

.btn-neg-alt.disabled, .btn-neg-alt:disabled {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-neg-alt:not(:disabled):not(.disabled):active, .btn-neg-alt:not(:disabled):not(.disabled).active,
.show > .btn-neg-alt.dropdown-toggle {
  background: linear-gradient(135deg, #fff 0%, #ccc 100%);
  color: #18453b;
  border-color: #bbb;
}

.btn-neg-alt:not(:disabled):not(.disabled):active:focus, .btn-neg-alt:not(:disabled):not(.disabled).active:focus,
.show > .btn-neg-alt.dropdown-toggle:focus {
  box-shadow: 0 0 0 0rem rgba(40, 167, 69, 0.5);
}

.btn-neg {
  color: #fff;
  background-color: #318773;
  border-color: #318773;
}

.btn-neg:hover {
  color: #fff;
  background-color: #216358;
  border-color: #216358;
}

.btn-neg:focus, .btn-neg.focus {
  box-shadow: 0 0 0 0rem rgba(40, 167, 69, 0.5);
}

.btn-neg.disabled, .btn-neg:disabled {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-neg:not(:disabled):not(.disabled):active, .btn-neg:not(:disabled):not(.disabled).active,
.show > .btn-neg.dropdown-toggle {
  color: #fff;
  background-color: #216358;
  border-color: #216358;
}

.btn-neg:not(:disabled):not(.disabled):active:focus, .btn-neg:not(:disabled):not(.disabled).active:focus,
.show > .btn-neg.dropdown-toggle:focus {
  box-shadow: 0 0 0 0rem rgba(40, 167, 69, 0.5);
}

.btn-list-closed{
  color: #18453b;
  border: solid 2px #18453b;
  background-color: #fff;
  outline: none !important;
}

.btn-list-opened{
  color: #18453b;
  border-top: solid 2px #18453b;
  border-right: solid 2px #18453b;
  border-left: solid 2px #18453b;
  border-bottom: solid 1px #18453b;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #ccc;
  outline: none !important;
  transition: border-bottom-right-radius 0s, border-bottom-left-radius 0s, background-color 0.3s, border-bottom 0.3s;
}

.list-card{
  border-top: solid 1px #18453b;
  border-right: solid 2px #18453b;
  border-left: solid 2px #18453b;
  border-bottom: solid 2px #18453b;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.top-buffer-10{
  padding-top: 10px;
}

.top-buffer-25{
  padding-top: 25px;
}

.top-buffer-50{
  padding-top: 50px;
}

.top-buffer-75{
  padding-top: 75px;
}

.top-buffer-100{
  padding-top: 100px;
}

.bottom-buffer-25{
  padding-bottom: 25px;
}

.bottom-buffer-100{
  padding-bottom: 100px;
}

.buffer-10{
  padding-top: 10px;
  padding-bottom: 10px;
}

.buffer-25{
  padding-top: 25px;
  padding-bottom: 25px;
}

.buffer-50{
  padding-top: 50px;
  padding-bottom: 50px;
}

.top-spacing-100{
  margin-top: 100px;
}

.top-spacing-50{
  margin-top: 50px;
}

.top-spacing-25{
  margin-top: 25px;
}

.spacing-10{
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.main-color-text{
  color: #18453b;
}
.anal-color-a-text{
  color: #183945;
}
.anal-color-b-text{
  color: #184525;
}
.tri-color-a-text{
  color: #3b1845;
}
.tri-color-b-text{
  color: #453b18;
}

.main-color-bg{
  background-color: #18453b;
}

.comp-color-bg{
  background-color: #451822;
}

a.main-color-text:hover {
  color: #318773 !important;
}

.no-gutter{
  margin: 0;
  padding: 0;
}

.gutter{
  padding-left: 15px;
  padding-right: 15px;
}

.white-link,
.navbar-dark .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.white-link:hover, .white-link:focus,
.navbar-dark .nav-link:hover, .navbar-dark .nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
}

.white-link.disabled,
.navbar-dark .nav-link.disabled {
  color: rgba(255, 255, 255, 0.25);
}

.white-link.show,
.white-link.active,
.navbar-dark .nav-link.show,
.navbar-dark .nav-link.active {
  color: #fff;
}

.white-link{
  cursor: pointer;
}

.caro-image-item {
 height: 600px;
}

.caro-image-item img {
max-height: 100%;  
max-width: 100%; 
position: absolute;  
top: 0;  
bottom: 0;  
left: 0;  
right: 0;  
margin: auto;
}

.fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.caro-cap{
  background-color: rgba(0,0,0,0.1); 
  border-radius: 5px; 
  padding-left: 5px; 
  padding-right: 5px;
}

.carousel-indicators li{
  display: none !important;
}

.hub-card{
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 3px 5px #999;
  border-color: #999;
}
.hub-card:hover{
  transition: all 0.5s;
  box-shadow: 5px 10px #555;
  border-color: #555;
}

.hub-card-icon{
  font-size: 15rem;
  background-color: var(--main-color, #18453b);
  color: #fff;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
  padding: 5px;
}

.hub-card-body{
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
  background: linear-gradient(180deg, #fff 0%, #aaa 100%);
  font-family: Ubuntu;
}

.hub-title-border{
  border-bottom: 3px solid #18453b; 
  margin-left: 10px; 
  margin-right: 10px;
}

.index-alerts{
  bottom: 50px;
  left: 1%;
  width: 98%;
  z-index: 2000; 
  position: fixed;
}

.carousel-control-next-icon{
  background-image: url(../images/arrowNA.png) !important;
}

.carousel-control-prev-icon{
  background-image: url(../images/arrowPA.png) !important;
}

.groups-info{
  border-left: 2px solid #18453b;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: 0px 4px #999;
  cursor: pointer;
  transition: all 0.3s;
}

.groups-info:hover{
  box-shadow: -6px 8px #666;
  margin-right: 2px;
}


.groups-header{
  background-color: #18453b;
  border-top: 2px solid #18453b;
  border-left: 2px solid #18453b;
  border-top-left-radius: 14px;
  color: #fff;
  padding: 10px 0px 10px 10px;
}

.groups-text{
  border-bottom: 2px solid #18453b;
  border-bottom-left-radius: 14px;
  padding: 10px 0px 10px 10px;
}

.groups-btn{
  background-color: #dc3545;
  color: #fff; 
  writing-mode: vertical-rl; 
  text-orientation: mixed;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 4px #999;
  cursor: pointer;
  transition: all 0.3s;
}

.groups-btn:hover{
  box-shadow: 6px 8px #666;
  margin-left: 2px;
}

.groups-suffix{
  font-size: 1rem;
  opacity: 0.3;
}

.home-icon{
  font-size: 10rem;
}

.home-btn{
  font-size: 2rem;
}

.hub-calendar{
  color: #18453b; 
  border: 3px solid #18453b; 
  padding: 10px; 
  border-radius: 15px;
}

.hub-calendar button{
  color: #fff !important;
  background: #18453b !important;
  border-color: #18453b !important;
  text-shadow: none !important;
}

.hub-calendar button:hover{
  color: #fff;
  background: #216358 !important;
  border-color: #318773 !important;
}

.hub-calendar button:active{
  color: #fff !important;
  background: #18453b !important;
  border-color: #18453b !important;
  outline: none;
}

.hub-calendar button:focus{
  outline: none;
}

.list-table-head{
  color: #fff;
  background-color: #18453b;
}

.list-row{
  border: #18453b 2px solid;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  /*border-top: #18453b 1px solid;
  border-bottom: #18453b 1px solid;*/
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
}
.list-row h4{
  color: #18453b;
}

.list-notes,
.list-link-container,
.list-allowed-list{
  overflow-y: auto; 
  max-height: 150px;
}

.list-link-col{
  overflow-wrap: break-word;
}

.word-break{
  overflow-wrap: break-word;
}

.overflow{
  overflow-x: auto;
}

.width-5{
  width: 5%;
}

.width-15{
  width: 15%;
}

.width-20{
  width: 20%;
}

.width-40{
  width: 40%;
}

.width-100{
  width: 100%;
}

.list-table-name{
  max-height: 150px;  
  max-width: 230px; 
  overflow-y: auto; 
  overflow-wrap: break-word;
}

.list-table-notes{
  max-height: 150px;  
  max-width: 385px; 
  overflow-y: auto; 
  overflow-wrap: break-word;
}

.list-table-groups{
  max-height: 150px; 
  max-width: 245px; 
  overflow-y: auto; 
  overflow-wrap: break-word; 
  padding-right: 10px;
}

.list-table-all-groups{
  max-width: 100px; 
}

.modal-btn{
  margin-right: 10px;
  margin-left: 10px;
  float: right;
}

.invalid-form{
  border: red solid 1px !important;
}

.three-quarters-text{
  font-size: 0.75rem;
}

.fsu-gold{
  color: #b5a25e;
}

.title-links{
  color: #18453b;
}
.title-links:hover{
  color: #216358;
  text-decoration: none;
}

.input-form-error{
  border: 1px solid red;
}

.btn-custom-main {
  color: #fff;
  background-color: #18453B;
  border-color: #18453B;
}

.btn-custom-main:hover {
  color: #fff;
  background-color: #13372f;
  border-color: #0e2923;
}

.btn-custom-main:focus, .btn-custom-main.focus {
  box-shadow: 0 0 0 0.2rem rgba(24,69,59,0.5);
}

.btn-custom-main.disabled, .btn-custom-main:disabled {
  color: #fff;
  background-color: #18453B;
  border-color: #18453B;
}

.btn-custom-main:not(:disabled):not(.disabled):active, .btn-custom-main:not(:disabled):not(.disabled).active,
.show > .btn-custom-main.dropdown-toggle {
  color: #fff;
  background-color: #0e2923;
  border-color: #0e2923;
}

.btn-custom-main:not(:disabled):not(.disabled):active:focus, .btn-custom-main:not(:disabled):not(.disabled).active:focus,
.show > .btn-custom-main.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(24,69,59,0.5);
}

.btn-custom-secondary {
  color: #fff;
  background-color: #2C7E6C;
  border-color: #2C7E6C;
}

.btn-custom-secondary:hover {
  color: #fff;
  background-color: #236456;
  border-color: #1a4b40;
}

.btn-custom-secondary:focus, .btn-custom-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(44,126,108,0.5);
}

.btn-custom-secondary.disabled, .btn-custom-secondary:disabled {
  color: #fff;
  background-color: #2C7E6C;
  border-color: #2C7E6C;
}

.btn-custom-secondary:not(:disabled):not(.disabled):active, .btn-custom-secondary:not(:disabled):not(.disabled).active,
.show > .btn-custom-secondary.dropdown-toggle {
  color: #fff;
  background-color: #1a4b40;
  border-color: #1a4b40;
}

.btn-custom-secondary:not(:disabled):not(.disabled):active:focus, .btn-custom-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-custom-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(44,126,108,0.5);
}

.btn-custom-secondary-alt {
  color: #18453B;
  background-color: #ddd;
  border-color: #18453B;
}

.btn-custom-secondary-alt:hover {
  color: #18453B;
  background-color: #bbb;
  border-color: #18453B;
}

.btn-custom-secondary-alt:focus, .btn-custom-secondary-alt.focus {
  box-shadow: 0 0 0 0.2rem rgba(204,204,204,0.5);
}

.btn-custom-secondary-alt.disabled, .btn-custom-secondary-alt:disabled {
  color: #18453B;
  background-color: #ccc;
  border-color: #18453B;
}

.btn-custom-secondary-alt:not(:disabled):not(.disabled):active, .btn-custom-secondary-alt:not(:disabled):not(.disabled).active,
.show > .btn-custom-secondary-alt.dropdown-toggle {
  color: #18453B;
  background-color: #888;
  border-color: #18453B;
}

.btn-custom-secondary-alt:not(:disabled):not(.disabled):active:focus, .btn-custom-secondary-alt:not(:disabled):not(.disabled).active:focus,
.show > .btn-custom-secondary-alt.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(204,204,204,0.5);
}

.btn-custom-danger {
  color: #fff;
  background-color: #451822;
  border-color: #451822;
}

.btn-custom-danger:hover {
  color: #fff;
  background-color: #37131b;
  border-color: #290e14;
}

.btn-custom-danger:focus, .btn-custom-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(69, 24, 34, 0.5);
}

.btn-custom-danger.disabled, .btn-custom-danger:disabled {
  color: #fff;
  background-color: #451822;
  border-color: #451822;
}

.btn-custom-danger:not(:disabled):not(.disabled):active, .btn-custom-danger:not(:disabled):not(.disabled).active,
.show > .btn-custom-danger.dropdown-toggle {
  color: #fff;
  background-color: #290e14;
  border-color: #290e14;
}

.btn-custom-danger:not(:disabled):not(.disabled):active:focus, .btn-custom-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-custom-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(69, 24, 34, 0.5);
}

.btn-custom-primary {
  color: #fff;
  background-color: #183945;
  border-color: #183945;
}

.btn-custom-primary:hover {
  color: #fff;
  background-color: #132d37;
  border-color: #0e2229;
}

.btn-custom-primary:focus, .btn-custom-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(24,57,69,0.5);
}

.btn-custom-primary.disabled, .btn-custom-primary:disabled {
  color: #fff;
  background-color: #183945;
  border-color: #183945;
}

.btn-custom-primary:not(:disabled):not(.disabled):active, .btn-custom-primary:not(:disabled):not(.disabled).active,
.show > .btn-custom-primary.dropdown-toggle {
  color: #fff;
  background-color: #0e2229;
  border-color: #0e2229;
}

.btn-custom-primary:not(:disabled):not(.disabled):active:focus, .btn-custom-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-custom-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(24,57,69,0.5);
}

.btn-custom-success {
  color: #fff;
  background-color: #184525;
  border-color: #184525;
}

.btn-custom-success:hover {
  color: #fff;
  background-color: #13371d;
  border-color: #0e2916;
}

.btn-custom-success:focus, .btn-custom-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(24,69,37,0.5);
}

.btn-custom-success.disabled, .btn-custom-success:disabled {
  color: #fff;
  background-color: #184525;
  border-color: #184525;
}

.btn-custom-success:not(:disabled):not(.disabled):active, .btn-custom-success:not(:disabled):not(.disabled).active,
.show > .btn-custom-success.dropdown-toggle {
  color: #fff;
  background-color: #0e2916;
  border-color: #0e2916;
}

.btn-custom-success:not(:disabled):not(.disabled):active:focus, .btn-custom-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-custom-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(24,69,37,0.5);
}

.btn-custom-info {
  color: #fff;
  background-color: #3B1845;
  border-color: #3B1845;
}

.btn-custom-info:hover {
  color: #fff;
  background-color: #2f1337;
  border-color: #230e29;
}

.btn-custom-info:focus, .btn-custom-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(59,24,69,0.5);
}

.btn-custom-info.disabled, .btn-custom-info:disabled {
  color: #fff;
  background-color: #3B1845;
  border-color: #3B1845;
}

.btn-custom-info:not(:disabled):not(.disabled):active, .btn-custom-info:not(:disabled):not(.disabled).active,
.show > .btn-custom-info.dropdown-toggle {
  color: #fff;
  background-color: #230e29;
  border-color: #230e29;
}

.btn-custom-info:not(:disabled):not(.disabled):active:focus, .btn-custom-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-custom-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(59,24,69,0.5);
}

.btn-custom-warning {
  color: #fff;
  background-color: #453B18;
  border-color: #453B18;
}

.btn-custom-warning:hover {
  color: #fff;
  background-color: #372f13;
  border-color: #29230e;
}

.btn-custom-warning:focus, .btn-custom-warning.focus {
  box-shadow: 0 0 0 0.2rem rgba(69,59,24,0.5);
}

.btn-custom-warning.disabled, .btn-custom-warning:disabled {
  color: #fff;
  background-color: #453B18;
  border-color: #453B18;
}

.btn-custom-warning:not(:disabled):not(.disabled):active, .btn-custom-warning:not(:disabled):not(.disabled).active,
.show > .btn-custom-warning.dropdown-toggle {
  color: #fff;
  background-color: #29230e;
  border-color: #29230e;
}

.btn-custom-warning:not(:disabled):not(.disabled):active:focus, .btn-custom-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-custom-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(69,59,24,0.5);
}

.btn-custom-warning-alt {
  color: #fff;
  background-color: #b5a25e;
  border-color: #b5a25e;
}

.btn-custom-warning-alt:hover {
  color: #fff;
  background-color: #AB974F;
  border-color: #AB974F;
}

.btn-custom-warning-alt:focus, .btn-custom-warning-alt.focus {
  box-shadow: 0 0 0 0.2rem rgba(181,162,94,0.5);
}

.btn-custom-warning-alt.disabled, .btn-custom-warning-alt:disabled {
  color: #fff;
  background-color: #b5a25e;
  border-color: #b5a25e;
}

.btn-custom-warning-alt:not(:disabled):not(.disabled):active, .btn-custom-warning-alt:not(:disabled):not(.disabled).active,
.show > .btn-custom-warning-alt.dropdown-toggle {
  color: #fff;
  background-color: #AB974F;
  border-color: #AB974F;
}

.btn-custom-warning-alt:not(:disabled):not(.disabled):active:focus, .btn-custom-warning-alt:not(:disabled):not(.disabled).active:focus,
.show > .btn-custom-warning-alt.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(181,162,94,0.5);
}

.btn-custom-hori-coll-closed{
  background-image: url("../images/hori-nav-right-D.png");
  background-repeat: repeat-y;
  color: rgba(0,0,0,0); 
  outline: none; 
  border: 1px solid #184525;
}

.btn-custom-hori-coll-closed:focus{
  outline: none;
}

.btn-custom-hori-coll-opened{
  background-image: url("../images/hori-nav-left-D.png");
  background-repeat: repeat-y; 
  color: rgba(0,0,0,0); 
  outline: none; 
  border: 1px solid #007936;
}

.btn-custom-hori-coll-opened:focus{
  outline: none;
}

.btn-success-alt{
  background-color: #184525;
  color: #fff;
  transition: all 0.2s ease-in-out;
  outline: none !important;
}

.btn-success-alt:hover{
  background-color: #13371d;
}



.btn-primary-alt{
  background-color: #183945;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.btn-primary-alt:hover{
  background-color: #132d37;
}

.custom-input-file button{
  background-color: red;
}

.btn-floater{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.4);
  transition: all 0.2s ease-in-out;
}
.btn-floater:hover{
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.5);
}

.group-list-group a{
  background-color: #fff;
  color: #18453B;
  border-radius: 5px;
  margin-top: 10px; 
  margin-bottom: 10px; 
  width: 180px;
}
.group-list-group a.active{
  background-color: #18453B;
  color: #fff;
  border: 1px solid #18453B;
}
.group-list-group a.active:hover{
  background-color: #18453B;
  color: #fff;
  border: 1px solid #18453B;
}
.group-list-group a:hover{
  background-color: #ddd;
}

.list-panel-heading{
  background-color: #ccc;
}

.list-panel-title{
  margin: 5px; 
  padding: 5px;
}

.list-panel-header{
  color: #18453B; 
  text-decoration: none;
}

.list-panel-header:hover,
.list-panel-header:active{
  
  color: #2c7e6c; 
}

.list-panel-header:focus{
  color: #18453B; 
  text-decoration: none;
}

.hub-image{
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.hub-image:hover{
  filter: grayscale(30%);
}

.construction-bg{
  height: 100%;
  background-image: 
    linear-gradient(45deg, #ddd 25%, transparent 25%), 
    linear-gradient(-45deg, #ddd 25%, transparent 25%), 
    linear-gradient(45deg, transparent 75%, #ddd 75%), 
    linear-gradient(-45deg, transparent 75%, #ddd 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.group-side-nav{
  background: repeating-linear-gradient(
    45deg,
    #13371d,
    #13371d 10px,
    #18453B 10px,
    #18453B 20px
  );
}

.carousel-inner{
  height: 100% !important;
  width: 100% !important;
  display: flex;
}

.grey-e-bg{
  background-color: #eee;
}

@media(min-width: 992px){
  .non-mobile{
    display: inline;
  }
  .non-mobile-flex{
    display: flex;
  }
  .mobile{
    display: none;
  }
  .mobile-flex{
    display: none;
  }
  .carousel-control-prev,
  .carousel-control-next{
    opacity: 1.0 !important;
  }
}

@media(max-width: 991px){
  .mobile{
    display: inline;
  }
  .mobile-flex{
    display: flex;
  }
  .non-mobile{
    display: none;
  }
  .non-mobile-flex{
    display: none;
  }
}

@media(min-width: 768px){
  .home-banner-alt{
    display: flex;
  }
  .home-banner-alt-mobile{
    display: none;
  }
  .hub-title-desk{
    display: inline;
  }
  .hub-title-mobile{
    display: none;
  }
  .non-mobile-tablet{
    display: flex;
  }
  .mobile-tablet{
    display: none;
  }
}

@media(max-width: 767px){
  .home-banner-alt{
    display: none;
  }
  .home-banner-alt-mobile{
    display: flex;
  }
  .list-table-notes{
    max-width: 285px; 
  }
  .hub-title-desk{
    display: none;
  }
  .hub-title-mobile{
    display: inline;
  }
  .fsu-gold:hover,
  .fsu-gold:focus,
  .fsu-gold:active{
    color: #a49974;
  }
  .non-mobile-tablet{
    display: none;
  }
  .mobile-tablet{
    display: flex;
  }
}

@media(min-width: 674px){
  .list-desk{
    display: table;
  }
  .list-mobile{
    display: none;
  }
}

@media(max-width: 673px){
  .list-desk{
    display: none;
  }
  .list-mobile{
    display: inherit;
  }
}