<div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title main-color-text" id="exampleModalLabel">Join Group</h1>
        <button type="button" class="close" aria-label="Close" ng-click="close()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">    
        <form name="form" class="form-horizontal css-form" ng-submit="submit(groupInfo)" ng-keyup="$event.keyCode == 13 && submit(groupInfo)">
            <div class="form-group">
                <label for="name"><span class="fa fa-globe main-color-text"></span> Group Name:</label>
                <input required type="text" ng-model="groupInfo.name"  name="name" id="name" class="form-control" pattern="^(.*\S.*)$">
            </div>
            <div ng-show="form.$submitted || form.name.$touched">
                <p ng-show="!form.name.$valid" class="input-form-warning">Name left blank</p>
            </div>
            <div class="form-group">
                <label for="code"><span class="fa fa-key main-color-text"></span> Code:</label>
                <input required type="text" ng-model="groupInfo.code" name="code" id="code" class="form-control" pattern="^(.*\S.*)$">
            </div>
            <div ng-show="form.$submitted || form.code.$touched">
                <p ng-show="!form.code.$valid" class="input-form-warning">Code left blank</p>
            </div>
            <hr>
            <button type="submit" class="btn btn-aff modal-btn">Join</button>
            <button type="button" class="btn btn-secondary modal-btn" ng-click="close()">Close</button>       
        </form>
    </div>
</div>
