<div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title main-color-text font-italic font-weight-bold">Unclaim Item</h1>
        <button type="button" class="close" aria-label="Close" ng-click="close()">
          <span aria-hidden="true" class="fas fa-times main-color-text"></span>
      </button>
    </div>
    <div class="modal-body">    
        <p>Are you sure you want to unclaim this item?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-floater" ng-click="close()"><span class="fas fa-times"></span> Cancel</button>
        <button type="button" class="btn btn-custom-danger btn-floater" ng-click="confirm()"><span class="fas fa-unlink"></span> Unclaim</button>
    </div>
</div>
