<div class="container-fluid" ng-init="groupsLoad()">
	<div class="row top-buffer-75"></div>
	<div class="row">
		<div class="container-fluid">
			<h1 class="display-6 main-color-text hub-title-border">
				<a href="#!/hub" class="title-links hub-title-desk"><span class="fab fa-hubspot">&nbsp;</span>Hub</a>
				<span class="fsu-gold hub-title-desk"> <span class="fa fa-angle-right"></span> </span>
				<a href="#!/hub" class="fsu-gold hub-title-mobile"> <span class="fa fa-angle-left"></span> </a><span class="fa fa-cubes">&nbsp;</span>My Groups
			</h1>
		</div>
	</div>
	<div class="row justify-content-around">
		<div class="col-lg-3 col-md-4 col-sm-5 col-6">
			<button class="btn btn-block btn-custom-success btn-floater" ng-click="createGroup()"><span class="fas fa-tools"></span> Create Group</button>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-5 col-6">
			<button class="btn btn-block btn-custom-primary btn-floater" ng-click="joinGroup()"><span class="fas fa-door-open"></span> Join Group</button>
		</div>
	</div>
	<hr>
	<div class="row justify-content-center" style="min-height: 50vh">
		<div class="col-lg-6 col-md-8 col-sm-10 col-12 no-gutter">
			<div class="container-fluid" ng-repeat="group in groups track by $index" style="padding-top: 10px; padding-bottom: 10px;">
				<div class="btn-group btn-group-lg btn-floater" style="display: flex">
					<button type="button" class="btn btn-custom-secondary-alt text-left" ng-click="goToGroup(group.url)" style="flex: 1"><h1 class="font-weight-bold">{{group.prefix}}<span class="groups-suffix">#{{group.suffix}}</span></h1></button>
					<button type="button" class="btn btn-custom-success" ng-click="openGroup($index)">
						<span class="fa" ng-class="{'fa-angle-down': !isGroupClosed[$index], 'fa-angle-right': isGroupClosed[$index]}"></span>
						<span class="sr-only">Expand</span>
					</button>
				</div>
				<div uib-collapse="isGroupClosed[$index]">
					<div class="card">
						<div class="card-body">
							<div class="row justify-content-around mb-3">
								<div class="col-12 text-center">
									<p><b>Admin:</b> {{group.admin_name}} | <b># Members:</b> {{group.member_count}}</p>
								</div>
							</div>
							<div class="row justify-content-around">
								<div class="col-lg-4 col-md-6 col-8 mb-2" ng-if="!group.restrict || group.admin === userID">
									<button class="btn btn-sm btn-block btn-custom-info btn-floater" ng-click="generateCode(group.code)"><span class="fa fa-wrench"></span> Generate Code</button>
								</div>
								<div class="col-lg-4 col-md-6 col-8 mb-2">
									<button class="btn btn-sm btn-block btn-custom-danger btn-floater" ng-click="leaveGroup(group.id)"><span class="fas fa-door-closed"></span> Leave Group</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row buffer-50"></div>
</div>