<div class="container-fluid" ng-init="groupsLoad()">
	<div class="row top-buffer-75"></div>
	<div class="row">
		<div class="container-fluid">
			<h1 class="display-4 main-color-text hub-title-border">Groups</h1>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-8 col-xs-12">
			<div class="card groups-card" ng-repeat="group in groups track by $index" ng-click="goToGroup(group)">
  				<div class="card-header groups-header">
    				<h1>{{group.prefix}}<span class="groups-suffix">#{{group.suffix}}</span></h1>
  				</div>
  				<!-- style="background-color: #540115; color: #CDC092" -->
  				<div class="card-body">
    				<p class="card-text text-right"><b>Members:</b> {{group.member_count}} | <b>Admin:</b> {{group.admin_name}}</p>
  				</div>
			</div>
		</div>
	</div>
</div>