<div class="container-fluid" ng-init="homeLoad()">
  <div class="row top-buffer-75 main-color-bg"></div>
  <div class="row justify-content-center top-buffer-50 main-color-bg">
    <img src="images/steenhouse-logo-C-256.png">
  </div>
  <div class="row justify-content-center top-buffer-50 bottom-buffer-100 main-color-bg">
    <div class="col-12 text-center">
      <h1 class="display-4 white-text"><b>Welcome to the Steen House!</b></h1>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-lg-4 col-md-6 col-12 buffer-50">
      <button type="button" ng-click="signUpModalHome()" class="btn btn-lg btn-block btn-custom-success home-btn btn-floater">Sign Up</button>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-lg-4 col-md-5 col-xs-12 text-center buffer-50 anal-color-b-text">
      <span class="fa fa-gift home-icon bottom-buffer-25"></span>
      <h1 class="align-middle">Make your own wishlist for friends and family in your groups to see</h1>
    </div>
    <div class="col-lg-4 col-md-5 col-xs-12 text-center buffer-50 anal-color-a-text">
      <span class="fa fa-users home-icon bottom-buffer-25"></span>
      <h1 class="align-middle">Create or join a group to share your wishlist with others</h1>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-lg-4 col-md-5 col-xs-12 text-center buffer-50 anal-color-b-text">
      <span class="fa fa-user-secret home-icon bottom-buffer-25"></span>
      <h1 class="align-middle">Select which items on your wishlist show up on which group</h1>
    </div>
    <div class="col-lg-4 col-md-5 col-xs-12 text-center buffer-50 anal-color-a-text">
      <span class="far fa-hand-pointer home-icon bottom-buffer-25"></span>
      <h1 class="align-middle">Claim an item on a group member's list so other members know you plan on getting them that</h1>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-lg-4 col-md-5 col-xs-12 text-center buffer-50 anal-color-b-text">
      <span class="far fa-images home-icon bottom-buffer-25"></span>
      <h1 class="align-middle">Upload photos to a group's gallery to share with other members</h1>
    </div>
    <div class="col-lg-4 col-md-5 col-xs-12 text-center buffer-50 anal-color-a-text">
      <span class="far fa-calendar-alt home-icon bottom-buffer-25"></span>
      <h1 class="align-middle">Make custom calendar events for the group to see</h1>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-lg-4 col-md-5 col-xs-12 text-center buffer-50 anal-color-b-text">
      <span class="far fa-comments home-icon bottom-buffer-25"></span>
      <h1 class="align-middle">Chat with other members in a private chatroom</h1>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-lg-4 col-md-6 col-12 buffer-50">
      <button type="button" ng-click="signInModalHome()" class="btn btn-lg btn-block btn-custom-primary home-btn btn-floater">Sign In</button>
    </div>
  </div>
  <div class="row buffer-50"></div>
</div>