<div class="container-fluid">
  <!-- <div class="row non-mobile">
    <div class="col-12" style="height: 100px"></div>
  </div> -->
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h3 class='text-center signup-title'>SIGN IN</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-6 md-8">
      <form name="form" class="form-horizontal css-form" ng-submit="submit(signin)">
        <div class="form-group">
          <label for="email"><span class="fa fa-envelope"></span> Email:</label>
          <input required type="email" ng-model="signin.email"  name="email" id="email" class="form-control" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,}"  uib-tooltip="Please use a valid email.  Your receipt will be sent to this address." tooltip-placement="bottom-left" tooltip-trigger="'focus'" tooltip-class="custom-tooltip">
        </div>
        <div ng-show="form.$submitted || form.email.$touched">
          <p ng-show="!form.email.$valid" class="input-form-warning">This is not a valid email.</p>
        </div>
        <div class="form-group">
          <label for="pw"><span class="fa fa-lock"></span> Password:</label>
          <input required type="password" ng-model="signin.pw" name="pw" id="pw" class="form-control" pattern="[^\s]{6,}" uib-tooltip="Password must be at least 6 characters long and must not contain any spaces." tooltip-placement="bottom-left" tooltip-trigger="'focus'" tooltip-class="custom-tooltip">
        </div>
        <div ng-show="form.$submitted || form.pw.$touched">
          <p ng-show="!form.pw.$valid" class="input-form-warning">Password is too short or contains a space.</p>
        </div>
        <div class="form-group top-buffer-25">
          <div class="row">
          <div class="col-6 text-center">
            <button type="submit" class="btn btn-lg btn-aff"> Enter
            </button>
          </div>
          <div class="col-6 text-center">
            <button type="button" ng-click="cancel()" class="btn btn-lg btn-neg"> Cancel
            </button>
          </div>
        </div>
        </div>
      </form>
      <div class="col-xs-12 text-center">
        <a ng-click="goToSignUp()">Go To Sign Up</a>
      </div>
    </div>
  </div>
  <!-- <div class="row non-mobile">
    <div class="col-12" style="height: 100px"></div>
  </div> -->
</div>
